* {
    box-sizing: border-box;
}
body {
    background: url(http://static.tumblr.com/7b37633d29d9aaca9828b5132273cdf1/sy59fz4/1linmyvvt/tumblr_static_4y2skv97m24ogs84wc40sccso.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;    
    background-size:cover;
    font-family: 'Fjalla One', sans-serif;
    font-family: 'Lobster', cursive;
}
nav {
    opacity: .5;
    border-bottom: -2px solid black;
    font-family: 'Oswald', sans-serif;
    font-family: 'Montserrat', sans-serif;
    padding-top: 60px;
}
@media (max-width: 979px) {
  body {
    padding-top: 0px;
  }
}
.btn btn-primary btn-lg{
     min-width: 80px;
    max-width: 80px;
}
input[type="text"] {
    width: 200px;
    margin-left:458px;
}
.navbar-brand {
    position:relative;
    opacity: none;
    color: white;
}
.navbar-nav {
    margin-top:-10px;
    position:relative;
    opacity: none;
    color: white;
}
#icon {
    color: white;
    opacity: none;
}
.jumbotron {
    clear: both;
    overflow:auto;
    margin-top: 300px;
    height:500px;
    text-align: center;
}