* {
    box-sizing: border-box;
    color: #CBA135;
}

body {

    background-size: cover;
    line-height: 1.5;
    font-family: 'Raleway', sans-serif;
}

h1 {
    font-family: 'Lobster', cursive;
}

.navbar {
    background: rgb(255, 255, 255);
    background: rgba(255, 255, 255, 0.2);
}

#home {
    background: url(http://static.tumblr.com/7b37633d29d9aaca9828b5132273cdf1/sy59fz4/1linmyvvt/tumblr_static_4y2skv97m24ogs84wc40sccso.jpg);
    min-height: 700px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: -30px;
}

#homeBrand {
    height: 510px;
    margin-top: 40px;
    background: rgb(255, 255, 255);
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid #CBA135;
}

#yourEvents {
    background-color: black;
    min-height: 700px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: -30px;
}

.sidebarEvents {
    background: black;
    border: none;
}

.mainEvents {
    background-color: black;
    border: none;
    max-height: 600px;
    overflow: auto;
}

#yourArtist {
    background: url(https://static.tumblr.com/106bc3193f8a144520727778b74cde06/dr5oxct/4Apnuivar/tumblr_static_tumblr_static_2171n0cjqjogggggoco0g8cgw_640.png);
    min-height: 700px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: -30px;
}

.sidebarArtist {
    background: none;
    border: none;
}

.mainArtist {
    background: none;
    border: none;
    max-height: 600px;
    overflow: auto;
}

.card-body {
    margin: auto;
}
.event-div {
    border: solid 2px #CBA135;

}
#artistResults {
    border: solid 3px #CBA135;
}

