* {
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    color: #CBA135;
}


#logo {
    margin-bottom: -1px;
    background: url(http://static.tumblr.com/7b37633d29d9aaca9828b5132273cdf1/sy59fz4/1linmyvvt/tumblr_static_4y2skv97m24ogs84wc40sccso.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.sticky-top {
    background-color: black;
    box-shadow: 0 8px 6px -6px grey;
}

.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    bottom: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
    /*background-color: rgba(0, 0, 0, 0.9);*/
    overflow-y: hidden;
    transition: 0.5s;
}

@media screen and (max-height: 450px) {
  .overlay {overflow-y: auto;}
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

#navSearch {
    box-shadow: 0px 0px 10px rgba(0,0,0,.8);
}


/** {
    box-sizing: border-box;
    color: #CBA135;
}

body {

    background-size: cover;
    line-height: 1.5;
    font-family: 'Raleway', sans-serif;
}

h1 {
    font-family: 'Lobster', cursive;
}

.navbar {
    background: rgb(255, 255, 255);
    background: rgba(255, 255, 255, 0.2);
}

#home {
    background: url(http://static.tumblr.com/7b37633d29d9aaca9828b5132273cdf1/sy59fz4/1linmyvvt/tumblr_static_4y2skv97m24ogs84wc40sccso.jpg);
    min-height: 700px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: -30px;
}

#homeBrand {
    height: 510px;
    margin-top: 40px;
    background: rgb(255, 255, 255);
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid #CBA135;
}

#yourEvents {
    background-color: black;
    min-height: 700px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: -30px;
}

.sidebarEvents {
    background: black;
    border: none;
}

.mainEvents {
    background-color: black;
    border: none;
    max-height: 600px;
    overflow: auto;
}

.name {
    font-family: 'Lobster', cursive;
}

#yourArtist {
    background: url(https://static.tumblr.com/106bc3193f8a144520727778b74cde06/dr5oxct/4Apnuivar/tumblr_static_tumblr_static_2171n0cjqjogggggoco0g8cgw_640.png);
    min-height: 700px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: -30px;
}

.sidebarArtist {
    background: none;
    border: none;
}

.mainArtist {
    background: none;
    border: none;
    max-height: 600px;
    overflow: auto;
}


#artist-div {
    background: none;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

*/

.card-body {
    margin: center;
}
.event-div:hover {
    position:relative;
    width:100%;
    height:auto;
    display:block;
    z-index:999;
    border: solid 2px #CBA135;
    background: black;
    

}
#artistResults {
    border: solid 3px #CBA135;
}
