body{

    background: url(http://static.tumblr.com/7b37633d29d9aaca9828b5132273cdf1/sy59fz4/1linmyvvt/tumblr_static_4y2skv97m24ogs84wc40sccso.jpg);
    font-family: 'Rammetto One', cursive;
}
h1{
    height: 50px;
    font-size: 2em;
}
.box{
    margin-left:7px;
    display: flex;
    width:100%;
    flex-direction: row;
}
.container{
    text-align:center;
    font-size:1em;
    padding: 2px;
}
#artist-form {  
    font-size: 1.5em;
    top: 25px;
    left: 400px;
}
#header{
    text-align:center;
    top: 25px;
    left: 600px;
}
#select-artist{
    font-family: 'Rammetto One', cursive;
}

input{
    font-size: 1em;
}
